
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}


.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  /*background: #364d79;*/
  overflow: hidden;
}


